<form [formGroup]="myForm" class="">

  <mat-form-field>
    <input matInput formControlName="email" placeholder="Email">
    <mat-error *ngIf="email!.invalid && email!.touched">
      Your email does not look right
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput formControlName="password" type="password" placeholder="Password">
    <mat-hint align="end">Must have an alphabet and a number.</mat-hint>
    <mat-error *ngIf="password!.invalid && password!.touched" >
      That password sucks...
    </mat-error>
  </mat-form-field>
  <br>

  <mat-form-field>
    <input matInput formControlName="age" placeholder="Age">
    <mat-error *ngIf="age!.errors?.min && age!.touched">
      {{ age!.errors!.min.actual }} is young to use this app kiddo!
    </mat-error>
    <mat-error *ngIf="age!.errors?.max && age!.touched">
      {{ age!.errors!.max.actual }} is too you old to use this app gramps!
    </mat-error>
  </mat-form-field>
  <br>

  <mat-checkbox formControlName="agree" color="primary">Are you sure?</mat-checkbox> &nbsp;

  <button mat-raised-button color="primary" [disabled]="myForm.invalid">Let's Do it!</button>

</form>
