<!-- angular basics -->
<!-- <div class="container">
  <app-header></app-header>
  <router-outlet></router-outlet>
  <app-footer></app-footer>
</div> -->

 <!-- angular directives -->
<!-- <div>
  <app-test></app-test>
</div> -->

<!-- template driven forms -->
<!-- <div>
  <app-contact-form></app-contact-form>
</div> -->

<!-- reactive forms -->
<!-- <div>
  <basic-form></basic-form>
</div> -->

<!-- <div>
  <nested-form></nested-form>
</div> -->

<!-- <div>
  <array-form></array-form>
</div> -->

<!-- <div>
  <valid-form></valid-form>
</div> -->

<!-- Data binding -->
<!-- <div>
  <data-binding></data-binding>
</div> -->

<!-- Pipes -->
<!-- <div>
  <app-pipes></app-pipes>
</div> -->

<!-- Data sharing between child and parent (in this case our main app component will act as parent)-->
<!-- <div class="parent">
  <h2>Parent Component</h2>
  <ul>
    <li *ngFor="let bev of beverages">{{ bev }}</li>
  </ul>
  <data-sharing [beverage] = "currentBeverage" (newBeverageEvent)="addBeverage($event)"></data-sharing>
</div> -->

<!-- Routing and navigation -->
<!-- <div>
  <h2 style="text-align: center;">Routing and Navigation</h2>
  <router-outlet></router-outlet>
</div>
<nav>
  <a routerLink="/departments" routerLinkActive="active">Departments</a><br>
  <a routerLink="/employees" routerLinkActive="active" >Employees</a>
</nav> -->
