/* setting background image for the div*/
div.heading{
    background-image: linear-gradient(rgb(238, 55, 55), rgb(89, 89, 233))
}
/* aligning the image*/
#h-img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border: 2px solid skyblue;
    padding: 5px;
}
/* styling the description paragraph*/
.h-des {
    text-align: center;
    font-style: italic;
    font-size: 1.1em;
}
/* styling the anchor having specific href attribute*/
a[href="know-more.html"] {
    font-style: italic;
    text-decoration: none;
    color: rgb(0, 252, 227);
}
/* styling the horizontal line*/
hr.h-line{
    border: 1px solid rgb(127, 207, 52);
    border-radius: 5px;
}
/* styling the body elements*/
.div-body{
    text-decoration: none;
    color: wheat;
}
#b-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    padding: 3px;
}
.l1{
    color: violet;
    font-style: italic;
}
/* overall list style */
#nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgb(70, 54, 54);
}
/* aligning the list items to the left */
#nav-li {
    float: left;
}

/* styling the anchor tag within the list */
#nav-li a{
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.3em;
    font-family:'Courier New', Courier, monospace;
}

/* Changing the link color on hover */
li a:hover {
    background-color: rgb(29, 28, 28);
}
.active {
    background-color: #0483aa;
}

/* container size */
.container {
    width: 100%;
    height: 100%;
}

/* left panel resizing and alignment */
.l-panel {
    width: 75%;
    height: 100%;
    float: left;
    border-collapse: collapse;
}
/* right panel resizing and alignment */
.r-panel {
    width: 25%;
    height: 100%;
    position: relative;
    float: right;
    background-color: rgb(40, 38, 41);
    border-collapse: collapse;
}
/* panel-body padding */
.panel-body{
    padding-left: 6px;
    padding-right: 6px;
}
/* right panel elements styling*/
.r-panel h3{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}
#notif-list{
    list-style: none;
}
#notif-list a{
    list-style: none;
    font-style: italic;
    color: tomato;
}
#notif-list a:hover{
    color: turquoise;
    background-color: rgb(40, 38, 41);
}

/* left panel elements styling*/
.l-panel > h3{
    text-align: center;
    color: wheat;
    font-size: 1.5em;
    font-style: italic
}
/* image resizing and alignment*/
.b-img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    border: 1px solid rgba(135, 207, 235, 0);
    padding: 2px;
}
/* adding backgroung color and changing font style*/
.l-panel > p{
    font-family: sans-serif;
    background-color: rgba(255, 255, 255, 0.74);
}
